In [ ]:
import pandas as pd
import os

In [2]:
os.chdir("D:\\appliedai\\puthon\\Great Learning\\Recommender system assignment\\Dataset-20210112T043747Z-001\\Dataset")
os.listdir()

['phone_user_review_file_1.csv',
 'phone_user_review_file_2.csv',
 'phone_user_review_file_3.csv',
 'phone_user_review_file_4.csv',
 'phone_user_review_file_5.csv',
 'phone_user_review_file_6.csv']

In [3]:
review_1=pd.read_csv('phone_user_review_file_1.csv',encoding='latin1')
display(review_1.head())
review_1.shape

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,10.0,As a diehard Samsung fan who has had every Sam...,CarolAnn35,Samsung Galaxy S8
1,/cellphones/samsung-galaxy-s8/,4/28/2017,en,us,Phone Arena,phonearena.com,10.0,10.0,Love the phone. the phone is sleek and smooth ...,james0923,Samsung Galaxy S8
2,/cellphones/samsung-galaxy-s8/,5/4/2017,en,us,Amazon,amazon.com,6.0,10.0,Adequate feel. Nice heft. Processor's still sl...,R. Craig,"Samsung Galaxy S8 (64GB) G950U 5.8"" 4G LTE Unl..."
3,/cellphones/samsung-galaxy-s8/,5/2/2017,en,us,Samsung,samsung.com,9.2,10.0,Never disappointed. One of the reasons I've be...,Buster2020,Samsung Galaxy S8 64GB (AT&T)
4,/cellphones/samsung-galaxy-s8/,5/11/2017,en,us,Verizon Wireless,verizonwireless.com,4.0,10.0,I've now found that i'm in a group of people t...,S Ate Mine,Samsung Galaxy S8

(374910, 11)

In [4]:
review_2=pd.read_csv('phone_user_review_file_2.csv',encoding='latin1')
display(review_2.head())
review_2.shape

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/leagoo-lead-7/,4/15/2015,en,us,Amazon,amazon.com,2.0,10.0,"The telephone headset is of poor quality , not...",luis,Leagoo Lead7 5.0 Inch HD JDI LTPS Screen 3G Sm...
1,/cellphones/leagoo-lead-7/,5/23/2015,en,gb,Amazon,amazon.co.uk,10.0,10.0,This is my first smartphone so I have nothing ...,Mark Lavin,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
2,/cellphones/leagoo-lead-7/,4/27/2015,en,gb,Amazon,amazon.co.uk,8.0,10.0,Great phone. Battery life not great but seems ...,tracey,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
3,/cellphones/leagoo-lead-7/,4/22/2015,en,gb,Amazon,amazon.co.uk,10.0,10.0,Best 90 quid I've ever spent on a smart phone,Reuben Ingram,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
4,/cellphones/leagoo-lead-7/,4/18/2015,en,gb,Amazon,amazon.co.uk,10.0,10.0,I m happy with this phone.it s very good.thx team,viorel,Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...

(114925, 11)

In [5]:
review_3=pd.read_csv('phone_user_review_file_3.csv',encoding='latin1')
display(review_3.head())
review_3.shape

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,11/7/2015,pt,br,Submarino,submarino.com.br,6.0,10.0,"recomendo, eu comprei um, a um ano, e agora co...",herlington tesch,Samsung Smartphone Samsung Galaxy S3 Slim G381...
1,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,10/2/2015,pt,br,Submarino,submarino.com.br,10.0,10.0,Comprei um pouco desconfiada do site e do celu...,Luisa Silva Marieta,Samsung Smartphone Samsung Galaxy S3 Slim G381...
2,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,9/2/2015,pt,br,Submarino,submarino.com.br,10.0,10.0,"Muito bom o produto, obvio que tem versÃµes me...",Cyrus,Samsung Smartphone Samsung Galaxy S3 Slim G381...
3,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,9/2/2015,pt,br,Submarino,submarino.com.br,8.0,10.0,Unica ressalva fica para a camera que poderia ...,Marcela Santa Clara Brito,Samsung Smartphone Samsung Galaxy S3 Slim G381...
4,/cellphones/samsung-galaxy-s-iii-slim-sm-g3812/,9/1/2015,pt,br,Colombo,colombo.com.br,8.0,10.0,Rapidez e atenÃ§Ã£o na entrega. O aparelho Ã© ...,Claudine Maria Kuhn Walendorff,"Smartphone Samsung Galaxy S3 Slim, Dual Chip, ..."

(312961, 11)

In [6]:
review_4=pd.read_csv('phone_user_review_file_4.csv',encoding='latin1')
display(review_4.head())
review_4.shape

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-s7262-duos-galaxy-ace/,3/11/2015,en,us,Amazon,amazon.com,2.0,10.0,was not conpatable with my phone as stated. I ...,Frances DeSimone,Samsung Galaxy Star Pro DUOS S7262 Unlocked Ce...
1,/cellphones/samsung-s7262-duos-galaxy-ace/,17/11/2015,en,in,Zopper,zopper.com,10.0,10.0,Decent Functions and Easy to Operate Pros:- Th...,Expert Review,Samsung Galaxy Star Pro S7262 Black
2,/cellphones/samsung-s7262-duos-galaxy-ace/,29/10/2015,en,in,Amazon,amazon.in,4.0,10.0,Not Good Phone such price. Hang too much and v...,Amazon Customer,Samsung Galaxy Star Pro GT-S7262 (Midnight Black)
3,/cellphones/samsung-s7262-duos-galaxy-ace/,29/10/2015,en,in,Amazon,amazon.in,6.0,10.0,not bad for features,Amazon Customer,Samsung Galaxy Star Pro GT-S7262 (Midnight Black)
4,/cellphones/samsung-s7262-duos-galaxy-ace/,29/10/2015,en,in,Amazon,amazon.in,10.0,10.0,Excellent product,NHK,Samsung Galaxy Star Pro GT-S7262 (Midnight Black)

(98284, 11)

In [7]:
review_5=pd.read_csv('phone_user_review_file_5.csv',encoding='latin1')
display(review_5.head())
review_5.shape

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/karbonn-k1616/,7/13/2016,en,in,91 Mobiles,91mobiles.com,2.0,10.0,I bought 1 month before. currently speaker is ...,venkatesh,Karbonn K1616
1,/cellphones/karbonn-k1616/,7/13/2016,en,in,91 Mobiles,91mobiles.com,6.0,10.0,"I just bought one week back, I have Airtel con...",Venkat,Karbonn K1616
2,/cellphones/karbonn-k1616/,7/13/2016,en,in,91 Mobiles,91mobiles.com,4.0,10.0,one problem in this handset opera is not worki...,krrish,Karbonn K1616
3,/cellphones/karbonn-k1616/,4/25/2014,en,in,Naaptol,naaptol.com,10.0,10.0,here Karbonn comes up with an another excellen...,BRIJESH CHAUHAN,Karbonn K1616 - Black
4,/cellphones/karbonn-k1616/,4/23/2013,en,in,Naaptol,naaptol.com,10.0,10.0,"What a phone, all so on Naaptol my god 23% off...",Suraj CHAUHAN,Karbonn K1616 - Black

(350216, 11)

In [8]:
review_6=pd.read_csv('phone_user_review_file_6.csv',encoding='latin1')
display(review_6.head())
review_6.shape

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
0,/cellphones/samsung-instinct-sph-m800/,9/16/2011,en,us,Phone Arena,phonearena.com,8.0,10.0,I've had the phone for awhile and it's a prett...,ajabrams95,Samsung Instinct HD
1,/cellphones/samsung-instinct-sph-m800/,2/13/2014,en,us,Amazon,amazon.com,6.0,10.0,to be clear it is not the sellers fault that t...,Stephanie,Samsung SPH M800 Instinct
2,/cellphones/samsung-instinct-sph-m800/,12/30/2011,en,us,Phone Scoop,phonescoop.com,9.0,10.0,Well i love this phone. i have had ton of phon...,snickers,Instinct M800
3,/cellphones/samsung-instinct-sph-m800/,10/18/2008,en,us,HandCellPhone,handcellphone.com,4.0,10.0,I have had my Instinct for several months now ...,A4C,Samsung Instinct
4,/cellphones/samsung-instinct-sph-m800/,9/6/2008,en,us,Reviewed.com,reviewed.com,6.0,10.0,i have had this instinct phone for about two m...,betaBgood,Samsung Instinct

(163837, 11)

<h2> Merge the provided CSVs into one data-frame </h2>

In [9]:
data_frames=[review_1,review_2,review_3,review_4,review_5,review_6]
review = pd.concat(data_frames)
print(review.shape)

(1415133, 11)

In [10]:
#impute missing values for scores
import numpy as np
missing = review['score'].isnull()
review.loc[missing,'score']= review.loc[missing,'score'].apply(lambda x: 5.77)
# print(np.sort(review['score'].unique()))

#Round off scores to the nearest integers
review['score']=review['score'].apply(lambda x : round(x))
# print(np.sort(review['score'].unique()))

#Check for duplicate values and remove them if there is any
duplicate = review[review.duplicated()]
duplicate

import re
review=review[['author','product','score']]
review=review.dropna()
review['author']=review['author'].apply(lambda x :re.sub("[^A-za-z0-9\s]","",x))
review['product']=review['product'].apply(lambda x :re.sub("[^A-za-z0-9\s]","",x))

review=review.drop_duplicates(subset=['author','product','score'],keep='first')
duplicate = review[review.duplicated()]
print('Duplicate records',duplicate)

Duplicate records Empty DataFrame
Columns: [author, product, score]
Index: []

In [13]:
review=review.sample(n=1000000,random_state=612)
review

,author,product,score
272682,Hard,Nokia N82,9
108884,Vineet Garg,Apple iPhone 5c White 8GB,8
23738,Brontes,Sony Ericsson Xperia arc S Smartphone 107 cm 4...,10
165399,anonymous coward,Nokia C300 Unlocked Cell Phone Slate with QWER...,10
111237,Pablo Hidalgo,Nokia N8 Unlocked GSM Touchscreen Phone Featur...,6
...,...,...,...
252447,salvatore,Lenovo Motorola Moto G 4G 3 Generazione Smartp...,8
352664,Mrs C M Woodward,Samsung Galaxy S5 Smartphone libre Android pa...,10
97975,Murat Pascha,Alcatel One Touch 918D Smartphone 81 cm 32 Zol...,8
95998,,LG G3 S D724,10
176223,Atif,XOLO Q1200 White,8

In [14]:
import pandasql as ps
q1 = """SELECT author,count(author) as auth_count FROM review group by author having auth_count >50 order by auth_count desc"""
output=ps.sqldf(q1, locals())
author_50_plus=output['author']

q2 = """SELECT product,count(product) as prod_count FROM review group by product having prod_count >50 order by prod_count desc"""
output2=ps.sqldf(q2, locals())
product_50_plus=output2['product']

In [15]:
filt=(review['author'].isin(author_50_plus)) & (review['product'].isin(product_50_plus))
review=review.loc[filt]

In [16]:
review

,author,product,score
110009,mike,Apple iPhone 5C 8GB Factory Unlocked GSM Cell ...,10
305301,,Apple iPhone 3G,6
90454,Isabel,Sony Xperia Z1 Smartphone libre Android panta...,10
340952,gulayy,Nokia 6300 Cep Telefonu,6
38678,L,APPLE iPhone 7 Plus Gold 32 GB,2
...,...,...,...
44811,Laura,LG Venice Boost Mobile,8
300185,Praveen,Lenovo Vibe P1 Turbo Grey,8
228600,Amazon Customer,Vodafone Smart Prime 6 Pay As You Go Handset S...,8
294950,Amazon Customer,Nokia Lumia 822 GSM Verizon CDMA 4G LTE Window...,4
252447,salvatore,Lenovo Motorola Moto G 4G 3 Generazione Smartp...,8

<h2> Build a popularity based model and recommend top 5 mobile phones </h2>

In [17]:
#  I am considering products with most number of reviews as the popular product
q2 = """SELECT product,count(product) as reviews FROM review group by product order by reviews desc"""
popular_product=ps.sqldf(q2, locals())
popular_product=popular_product.head(5)
popular_product

                                             product  reviews
0  Huawei P8 Lite Smartphone Display 5 IPS Proces...      178
1  Lenovo Motorola Moto G Smartphone 45 pollici d...      169
2  Huawei P9 Lite Smartphone LTE Display 52 FHD P...      164
3  Huawei P8 lite Smartphone Display 50 IPS Dual ...      163
4                         Huawei P8lite zwart  16 GB      162

<h2> Apply SVD for user based filtering </h2>

In [25]:
#2 Transform data to surprise format
from surprise import Dataset,Reader
from surprise.model_selection import cross_validate
from surprise import NormalPredictor

reader = Reader(rating_scale=(0,10))

In [26]:
data=Dataset.load_from_df(review[['author','product','score']],reader=reader)

In [27]:
data.df

,author,product,score
110009,mike,Apple iPhone 5C 8GB Factory Unlocked GSM Cell ...,10
305301,,Apple iPhone 3G,6
90454,Isabel,Sony Xperia Z1 Smartphone libre Android panta...,10
340952,gulayy,Nokia 6300 Cep Telefonu,6
38678,L,APPLE iPhone 7 Plus Gold 32 GB,2
...,...,...,...
44811,Laura,LG Venice Boost Mobile,8
300185,Praveen,Lenovo Vibe P1 Turbo Grey,8
228600,Amazon Customer,Vodafone Smart Prime 6 Pay As You Go Handset S...,8
294950,Amazon Customer,Nokia Lumia 822 GSM Verizon CDMA 4G LTE Window...,4
252447,salvatore,Lenovo Motorola Moto G 4G 3 Generazione Smartp...,8

In [28]:
from surprise.model_selection import train_test_split
train_set,test_set=train_test_split(data,test_size=0.15)

In [32]:
from surprise import SVD,accuracy
svd_model=SVD()
svd_model.fit(train_set)
test_pred=svd_model.test(test_set)
accuracy.rmse(test_pred)

RMSE: 2.9009

2.9008797506726194

In [23]:
pred=pd.DataFrame(data_pred)
pred

,uid,iid,r_ui,est,details
0,Daniel,Honor 3C Smartphone libre Android Dual SIM p...,10.0,8.794948,{'was_impossible': False}
1,Emma,Sony Xperia ZL LTE Smartphone 127 cm 5 Zoll To...,10.0,8.858460,{'was_impossible': False}
2,Client dAmazon,Microsoft Lumia 640 Smartphone dbloqu 4G Ecran...,2.0,5.993472,{'was_impossible': False}
3,Amazon Customer,ASUS ZenFone 3 MAX ZC520TL Smartphone 52inch 1...,6.0,6.041800,{'was_impossible': False}
4,cristina,Samsung G935 Galaxy S7 Edge Smartphone da 32GB...,2.0,8.126480,{'was_impossible': False}
...,...,...,...,...,...
7474,AB,Samsung Galaxy S3 mini GTI8200 Smartphone 4 Zo...,6.0,7.920985,{'was_impossible': False}
7475,Johannes,Samsung Galaxy S5 G900FD DUOS 4G LTE 16GB Unlo...,10.0,8.131136,{'was_impossible': False}
7476,Thomas,Samsung C3350 Handy 56 cm 22 Zoll Display 2 Me...,2.0,9.200389,{'was_impossible': False}
7477,Gianluca,Samsung Galaxy Star Smartphone Nero [Italia],10.0,9.055250,{'was_impossible': False}
7478,Paul,HTC Radar,9.0,8.993935,{'was_impossible': False}

In [37]:
def get_recomm(userID,n):
    recomm=pred[pred['uid']==userID][['uid','iid','est','r_ui']]
    return recomm.sort_values(by='est',ascending=False).head(n)
#     return recomm.sort
get_recomm('Stefano',10)

,uid,iid,est,r_ui
4207,Stefano,Huawei P9 Lite Smartphone LTE Display 52 FHD P...,10.000000,8.0
6687,Stefano,LG Nexus 5 Smartphone memoria 16GB Android 44 ...,9.788468,8.0
314,Stefano,Samsung G920 Galaxy S6 Smartphone 32 GB Oro [I...,9.760195,2.0
1559,Stefano,Lenovo Motorola Moto G 4G 2 Generazione Smartp...,9.556947,8.0
1042,Stefano,Samsung Galaxy A5 2016 Smartphone LTE 16GB Nero,9.545069,10.0
2436,Stefano,Asus ZE551ML2A760WW Smartphone ZenFone 2 Delux...,9.391039,10.0
4685,Stefano,Asus ZenFone Max Smartphone Schermo da 55 HD 1...,9.330411,10.0
6184,Stefano,Apple iPhone 5S 16GB Smartphone Argento [Germa...,9.075944,8.0
3827,Stefano,LG G5 Smartphone da 32 GB 53 QHD 4G LTE Fotoca...,8.958403,10.0
3658,Stefano,elephone P8000 Smartphone 4G FDDLTE 64bit MTK6...,8.865432,10.0

<h2>Build a collaborative filtering model using kNNWithMeans from surprise User Based</h2>

In [39]:
from surprise import KNNWithMeans
my_k = 15
my_min_k = 5
my_sim_option = {'name':'pearson', 'user_based':False,}
user_algo = KNNWithMeans(k = my_k, min_k = my_min_k, sim_option = my_sim_option)
user_algo.fit(train_set)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [40]:
user_algo.sim.shape

(687, 687)

In [41]:
from surprise import accuracy
user_predictions = user_algo.test(test_set)
accuracy.rmse(user_predictions)

RMSE: 2.9194

2.9194431375806666

In [42]:
user_predictions=pd.DataFrame(user_predictions)
user_predictions

,uid,iid,r_ui,est,details
0,Luca,Microsoft Lumia 650 Smartphone da 16GB Bianco ...,4.0,8.080299,"{'actual_k': 15, 'was_impossible': False}"
1,francesco,Huawei Ascend G620s Smartphone Display 50 16M ...,10.0,9.624219,"{'actual_k': 15, 'was_impossible': False}"
2,Qantas,LG Optimus Black P970,8.0,7.279802,"{'actual_k': 8, 'was_impossible': False}"
3,ebit,Smartphone LG Optimus L3 Dual E405,4.0,5.423359,"{'actual_k': 6, 'was_impossible': False}"
4,Ruben,Nokia Lumia 635,8.0,8.054054,"{'actual_k': 3, 'was_impossible': False}"
...,...,...,...,...,...
7474,Ricardo,BLU Studio 50 C HD Unlocked Cellphone Black,10.0,8.186342,"{'actual_k': 7, 'was_impossible': False}"
7475,,Nokia N97,10.0,8.818343,"{'actual_k': 15, 'was_impossible': False}"
7476,Ravi,OnePlus 3T Gunmetal 6GB RAM 64GB memory,10.0,6.357994,"{'actual_k': 15, 'was_impossible': False}"
7477,Ganesh,Apple iPhone 5s Gold 16GB,2.0,7.469839,"{'actual_k': 12, 'was_impossible': False}"
7478,matteo,Huawei Ascend Y5 Smartphone Memoria RAM da 1 G...,10.0,8.376463,"{'actual_k': 15, 'was_impossible': False}"

In [66]:
def get_recomm(userID,n):
    recomm=user_predictions[user_predictions['uid']==userID][['uid','iid','est']]
    return recomm.sort_values(by='est',ascending=False).head(n)
#     return recomm.sort
get_recomm('Stefano',10)

          uid                                                iid       est
1529  Stefano  Honor 7 Smartphone 4G Display Full HD 52 Polli...  9.802821
799   Stefano  Samsung N9005 Galaxy Note 3 Smartphone 32 GB B...  9.761848
5101  Stefano  Asus ZenFone 2 Laser Smartphone Display da 5 1...  9.691090
4692  Stefano  Lenovo Motorola Moto G LTE Smartphone Display ...  9.673323
2715  Stefano    Samsung Galaxy A5 2016 Smartphone LTE 16GB Nero  9.582631
2208  Stefano            Samsung Galaxy S7 Smartphone 32 GB Nero  9.544545
779   Stefano  LG Nexus 5 Smartphone memoria 16GB Android 44 ...  9.473756
2491  Stefano      Nokia Lumia 630 Smartphone 8 GB Nero [Italia]  9.231094
7247  Stefano    Alcatel One Touch 2004G Telefono Cellulare Nero  9.217567
5410  Stefano  Sony Xperia Z3 Compact Smartphone 16 GB Nero [...  9.098488

<h2>Build a collaborative filtering model using kNNWithMeans from surprise Item Based</h2>

In [44]:
from surprise import KNNWithMeans
my_k = 15
my_min_k = 5
my_sim_option = {'name':'pearson'}
item_algo = KNNWithMeans(k = my_k, min_k = my_min_k, sim_option = my_sim_option)
item_algo.fit(train_set)
item_algo

Computing the msd similarity matrix...
Done computing similarity matrix.

In [45]:
item_algo.sim.shape

(687, 687)

<h2> Evaluate the collaborative model. Print RMSE value,Predict score (average rating) for test users</h2>

In [46]:
from surprise import accuracy
predictions = item_algo.test(test_set)
accuracy.rmse(predictions)

RMSE: 2.9194

2.9194431375806666

In [62]:
item_predictions=pd.DataFrame(predictions)
item_predictions

,uid,iid,r_ui,est,details
0,Luca,Microsoft Lumia 650 Smartphone da 16GB Bianco ...,4.0,8.080299,"{'actual_k': 15, 'was_impossible': False}"
1,francesco,Huawei Ascend G620s Smartphone Display 50 16M ...,10.0,9.624219,"{'actual_k': 15, 'was_impossible': False}"
2,Qantas,LG Optimus Black P970,8.0,7.279802,"{'actual_k': 8, 'was_impossible': False}"
3,ebit,Smartphone LG Optimus L3 Dual E405,4.0,5.423359,"{'actual_k': 6, 'was_impossible': False}"
4,Ruben,Nokia Lumia 635,8.0,8.054054,"{'actual_k': 3, 'was_impossible': False}"
...,...,...,...,...,...
7474,Ricardo,BLU Studio 50 C HD Unlocked Cellphone Black,10.0,8.186342,"{'actual_k': 7, 'was_impossible': False}"
7475,,Nokia N97,10.0,8.818343,"{'actual_k': 15, 'was_impossible': False}"
7476,Ravi,OnePlus 3T Gunmetal 6GB RAM 64GB memory,10.0,6.357994,"{'actual_k': 15, 'was_impossible': False}"
7477,Ganesh,Apple iPhone 5s Gold 16GB,2.0,7.469839,"{'actual_k': 12, 'was_impossible': False}"
7478,matteo,Huawei Ascend Y5 Smartphone Memoria RAM da 1 G...,10.0,8.376463,"{'actual_k': 15, 'was_impossible': False}"

In [61]:
def get_recomm(ItemID,n):
    recomm=item_predictions[item_predictions['iid']==ItemID][['uid','iid','est']]
    return recomm.sort_values(by='est',ascending=False).head(n)
#     return recomm.sort
get_recomm('OnePlus 3 Soft Gold 64 GB',10)

                  uid                        iid       est
5001             Joel  OnePlus 3 Soft Gold 64 GB  9.995263
2494              Sam  OnePlus 3 Soft Gold 64 GB  8.838528
1895          Praveen  OnePlus 3 Soft Gold 64 GB  8.302208
3844               SK  OnePlus 3 Soft Gold 64 GB  7.853489
6431            Sandy  OnePlus 3 Soft Gold 64 GB  7.848287
25             Daniel  OnePlus 3 Soft Gold 64 GB  7.442721
196   Amazon Customer  OnePlus 3 Soft Gold 64 GB  7.054270
1073  Amazon Customer  OnePlus 3 Soft Gold 64 GB  7.054270
1277  Amazon Customer  OnePlus 3 Soft Gold 64 GB  7.054270
6533  Amazon Customer  OnePlus 3 Soft Gold 64 GB  7.054270

<h2> Try and recommend top 5 products for test users </h2>

In [65]:
def get_recomm(ItemID,n):
    recomm=item_predictions[item_predictions['iid']==ItemID][['uid','iid','est']]
    return recomm.sort_values(by='est',ascending=False).head(n)
#     return recomm.sort
get_recomm('OnePlus 3 Soft Gold 64 GB',5)

          uid                        iid       est
5001     Joel  OnePlus 3 Soft Gold 64 GB  9.995263
2494      Sam  OnePlus 3 Soft Gold 64 GB  8.838528
1895  Praveen  OnePlus 3 Soft Gold 64 GB  8.302208
3844       SK  OnePlus 3 Soft Gold 64 GB  7.853489
6431    Sandy  OnePlus 3 Soft Gold 64 GB  7.848287

<h2> Try cross validation techniques to get better results </h2>

In [63]:
from surprise.model_selection import cross_validate
results = pd.DataFrame(cross_validate(algo = user_algo, data = data, measures=['RMSE'],cv=5,return_train_measures=True))
results

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

   test_rmse  train_rmse  fit_time  test_time
0   2.943285    1.630572  0.108948   0.641845
1   2.943983    1.628408  0.122707   0.547324
2   2.936717    1.631359  0.121349   0.629189
3   2.981971    1.624552  0.122533   0.549087
4   2.929752    1.638216  0.122583   0.559745

<h2> In what business scenario you should use popularity based Recommendation Systems ?</h2>

- Popularity based recommendation systems are used when the business doesnot have any information regarding the characteristics of the user.
- In this case the model reccomends any user the most popular product

<h2>In what business scenario you should use CF based Recommendation Systems ?</h2>

- Collaborative filtering model is used when the business has characteristic details about both the user and the product.so that it can recommend users product based on their similarities with other users.

<h2>What other possible methods can you think of which can further improve the recommendation for different users ?</h2>

- We can use a hybrid recommendation system ie combining multiple types of recommendation overcoming the issue with one another.
- Hybrid systems include Weighted Hybrid Recommender,Switching Hybrid Recommender,Mixed Hybrid Recommender