In [123]:
import os
os.getcwd()
import pandas as pd
import keyword
import numpy as np

In [124]:
laliga_df=pd.read_csv('Laliga.csv',header=1)
#print(laliga)

In [125]:
###replace dashes with 0 and change data type to make sure we can perform arithmetic operations on the data.
def change_data_type(column,data):
    for i in data:
        if i =='-':
            laliga_df[column]=laliga_df[column].replace('-',0)
            laliga_df[column]=laliga_df[column].astype(float)            
            break
col_list=list(laliga_df.columns)
print(col_list)
for col in col_list:
    change_data_type(col,list(laliga_df[col]))

['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon', 'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion', 'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut', 'Since/LastApp', 'BestPosition']

In [126]:
laliga_df.info()
laliga_df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null float64
GamesPlayed      61 non-null float64
GamesWon         61 non-null float64
GamesDrawn       61 non-null float64
GamesLost        61 non-null float64
GoalsFor         61 non-null float64
GoalsAgainst     61 non-null float64
Champion         61 non-null float64
Runner-up        61 non-null float64
Third            61 non-null float64
Fourth           61 non-null float64
Fifth            61 non-null float64
Sixth            61 non-null float64
T                61 non-null float64
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: float64(14), int64(3), object(3)
memory usage: 9.7+ KB

Pos              0
Team             0
Seasons          0
Points           0
GamesPlayed      0
GamesWon         0
GamesDrawn       0
GamesLost        0
GoalsFor         0
GoalsAgainst     0
Champion         0
Runner-up        0
Third            0
Fourth           0
Fifth            0
Sixth            0
T                0
Debut            0
Since/LastApp    0
BestPosition     0
dtype: int64

In [127]:
###teams which have started playing between 1930-1980. Use “Debut” column. (Include both the years - 1930 and 1980
###creating a new column Debut_year
deb_yr=[]
def debut_fn(column_name,data):
    for i in data:
        deb_yr.append(i[0:4])
    laliga_df[column_name]=deb_yr
    laliga_df[column_name]=laliga_df[column_name].astype(int)
    
debut_fn('Debut_year',list(laliga_df['Debut']))

###teams which have started playing between 1930-1980

Team_df=laliga_df[(laliga_df.Debut_year >= 1930) & (laliga_df.Debut_year <= 1980)]
Team_df[:][:]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_year
3,4,Valencia,82,3386.0,2664.0,1187.0,616.0,861.0,4398.0,3469.0,...,6.0,10.0,11.0,10.0,7.0,50.0,1931-32,1987-88,1,1931
5,6,Sevilla,73,2819.0,2408.0,990.0,531.0,887.0,3680.0,3373.0,...,4.0,4.0,5.0,12.0,6.0,32.0,1934-35,2001-02,1,1934
8,9,Zaragoza,58,2109.0,1986.0,698.0,522.0,766.0,2683.0,2847.0,...,1.0,4.0,5.0,4.0,4.0,18.0,1939-40,2012-13,2,1939
9,10,Real Betis,51,1884.0,1728.0,606.0,440.0,682.0,2159.0,2492.0,...,0.0,2.0,3.0,4.0,4.0,14.0,1932-33,2015-16,1,1932
10,11,Deportivo La Coruna,45,1814.0,1530.0,563.0,392.0,575.0,2052.0,2188.0,...,5.0,4.0,1.0,0.0,1.0,12.0,1941-42,2014-15,1,1941
11,12,Celta Vigo,51,1789.0,1698.0,586.0,389.0,723.0,2278.0,2624.0,...,0.0,0.0,2.0,4.0,5.0,11.0,1939-40,2012-13,4,1939
12,13,Valladolid,42,1471.0,1466.0,463.0,384.0,619.0,1767.0,2180.0,...,0.0,0.0,1.0,1.0,1.0,3.0,1948-49,2013-14,4,1948
14,15,Sporting Gijon,43,1389.0,1458.0,471.0,358.0,629.0,1753.0,2152.0,...,1.0,1.0,2.0,2.0,1.0,7.0,1944-45,2015-16,2,1944
15,16,Osasuna,37,1351.0,1318.0,426.0,327.0,565.0,1500.0,1834.0,...,0.0,0.0,2.0,2.0,2.0,6.0,1935-36,2016-17,4,1935
16,17,Malaga,36,1314.0,1255.0,390.0,330.0,535.0,1421.0,1763.0,...,0.0,0.0,1.0,0.0,1.0,2.0,1949-50,2008-09,4,1949
17,18,Oviedo,38,1174.0,1192.0,408.0,292.0,492.0,1642.0,1951.0,...,0.0,3.0,2.0,2.0,4.0,11.0,1933-34,2000-01,3,1933
18,19,Mallorca,27,1148.0,988.0,333.0,256.0,399.0,1182.0,1371.0,...,0.0,2.0,0.0,2.0,1.0,5.0,1960-61,2012-13,3,1960
19,20,Las Palmas,33,1020.0,1096.0,367.0,242.0,487.0,1347.0,1746.0,...,1.0,1.0,1.0,1.0,1.0,5.0,1951-52,2015-16,2,1951
21,22,Granada,23,667.0,742.0,218.0,175.0,349.0,819.0,1157.0,...,0.0,0.0,0.0,0.0,2.0,2.0,1941-42,2016-17,6,1941
22,23,Rayo Vallecano,17,662.0,652.0,189.0,148.0,305.0,760.0,1088.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1977-78,2015-16,8,1977
23,24,Elche,21,606.0,678.0,203.0,180.0,295.0,750.0,1022.0,...,0.0,0.0,0.0,1.0,1.0,2.0,1959-60,2014-15,5,1959
25,26,Hercules,20,538.0,628.0,184.0,149.0,295.0,716.0,1050.0,...,0.0,0.0,0.0,1.0,4.0,5.0,1935-36,2010-11,5,1935
26,27,Tenerife,13,510.0,494.0,155.0,128.0,211.0,619.0,744.0,...,0.0,0.0,0.0,2.0,0.0,2.0,1961-62,2009-10,5,1961
27,28,Murcia,18,445.0,586.0,145.0,143.0,298.0,607.0,992.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1940-41,2007-08,11,1940
28,29,Alaves,12,421.0,380.0,125.0,81.0,174.0,458.0,623.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1930-31,2016-17,6,1930
29,30,Levante,11,416.0,402.0,113.0,95.0,194.0,430.0,632.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1963-64,2015-16,6,1963
30,31,Salamanca,12,375.0,423.0,123.0,102.0,198.0,422.0,581.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1974-75,1998-99,7,1974
31,32,Sabadell,14,353.0,426.0,129.0,95.0,202.0,492.0,720.0,...,0.0,0.0,1.0,1.0,0.0,2.0,1943-44,1987-88,4,1943
32,33,Cadiz,12,343.0,448.0,104.0,127.0,217.0,393.0,662.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1977-78,2005-06,12,1977
34,35,Castellon,11,285.0,334.0,103.0,79.0,152.0,419.0,588.0,...,0.0,0.0,1.0,2.0,0.0,3.0,1941-42,1990-91,4,1941
37,38,Cordoba,9,230.0,282.0,82.0,63.0,137.0,285.0,430.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1962-63,2014-15,5,1962
39,40,Recreativo,5,188.0,186.0,50.0,46.0,90.0,202.0,296.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1978-79,2008-09,8,1978
40,41,Burgos CF,6,168.0,204.0,59.0,50.0,95.0,216.0,310.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1971-72,1979-80,12,1971
41,42,Pontevedra,6,150.0,180.0,53.0,44.0,83.0,165.0,221.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1963-64,1969-70,7,1963
46,47,Gimnastic,4,91.0,116.0,34.0,16.0,66.0,181.0,295.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1947-48,2006-07,7,1947
49,50,Alcoyano,4,76.0,108.0,30.0,16.0,62.0,145.0,252.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1945-46,1950-51,10,1945
50,51,Jaen,3,71.0,90.0,29.0,13.0,48.0,121.0,183.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1953-54,1957-58,14,1953
52,53,AD Almeria,2,52.0,68.0,17.0,18.0,33.0,71.0,116.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1979-80,1980-81,10,1979
54,55,Lleida,2,40.0,68.0,13.0,14.0,41.0,70.0,182.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1950-51,1993-94,16,1950
57,58,Condal,1,22.0,30.0,7.0,8.0,15.0,37.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1956-57,1956-57,16,1956
58,59,Atletico Tetuan,1,19.0,30.0,7.0,5.0,18.0,51.0,85.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1951-52,1951-52,16,1951
59,60,Cultural Leonesa,1,14.0,30.0,5.0,4.0,21.0,34.0,65.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1955-56,1955-56,15,1955

In [128]:
###the list of teams which came Top 5 in terms of points 
laliga_df.sort_values('Points',ascending=False).head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_year
0,1,Real Madrid,86,4385.0,2762.0,1647.0,552.0,563.0,5947.0,3140.0,...,23.0,8.0,8.0,3.0,4.0,79.0,1929,1929,1,1929
1,2,Barcelona,86,4262.0,2762.0,1581.0,573.0,608.0,5900.0,3114.0,...,25.0,12.0,12.0,4.0,6.0,83.0,1929,1929,1,1929
2,3,Atletico Madrid,80,3442.0,2614.0,1241.0,598.0,775.0,4534.0,3309.0,...,8.0,16.0,9.0,7.0,6.0,56.0,1929,2002-03,1,1929
3,4,Valencia,82,3386.0,2664.0,1187.0,616.0,861.0,4398.0,3469.0,...,6.0,10.0,11.0,10.0,7.0,50.0,1931-32,1987-88,1,1931
4,5,Athletic Bilbao,86,3368.0,2762.0,1209.0,633.0,920.0,4631.0,3700.0,...,7.0,10.0,5.0,8.0,10.0,49.0,1929,1929,1,1929

In [133]:
###return all the teams with their Goal Differences. Using the same function

def Goal_diff_count(g_for,g_against,team_list):
    g_diff=[]
    team_l=[]
    maxim=0
    minim=0

    for i in range (0,len(g_for)):
        team_l.append(team_list[i])
        g_dif=g_for[i]-g_against[i]
        g_diff.append(g_dif)
    laliga_df['Goal_Difference']=g_diff
    for j in range (0,len(team_l)):
        if g_diff[j]==max(g_diff):
            maxim=j
        elif g_diff[j]==min(g_diff):
            minim=j
    return(g_diff,team_l,maxim,minim)
   
    
    
team_list=list(laliga_df['Team'])       
g_diff,team_l,maxim,minim=Goal_diff_count(list(laliga_df['GoalsFor']),list(laliga_df['GoalsAgainst']),team_list)
print('Team with maximum goal_difference is ',team_l[maxim],'with a difference of ',g_diff[maxim])
print('Team with minimum goal_difference is ',team_l[minim],'with a difference of ',g_diff[minim])
laliga_df.head()

Team with maximum goal_difference is  Real Madrid with a difference of  2807.0
Team with minimum goal_difference is  Racing Santander with a difference of  -525.0

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_year,Goal_Difference,Winning Percent
0,1,Real Madrid,86,4385.0,2762.0,1647.0,552.0,563.0,5947.0,3140.0,...,8.0,3.0,4.0,79.0,1929,1929,1,1929,2807.0,59.63
1,2,Barcelona,86,4262.0,2762.0,1581.0,573.0,608.0,5900.0,3114.0,...,12.0,4.0,6.0,83.0,1929,1929,1,1929,2786.0,57.24
2,3,Atletico Madrid,80,3442.0,2614.0,1241.0,598.0,775.0,4534.0,3309.0,...,9.0,7.0,6.0,56.0,1929,2002-03,1,1929,1225.0,47.48
3,4,Valencia,82,3386.0,2664.0,1187.0,616.0,861.0,4398.0,3469.0,...,11.0,10.0,7.0,50.0,1931-32,1987-88,1,1931,929.0,44.56
4,5,Athletic Bilbao,86,3368.0,2762.0,1209.0,633.0,920.0,4631.0,3700.0,...,5.0,8.0,10.0,49.0,1929,1929,1,1929,931.0,43.77

In [99]:
### maximum and minimum goal difference.
#goal_diff_df=laliga_df[(laliga_df.Goal_Difference==laliga_df.Goal_Difference.max()) | (laliga_df.Goal_Difference==laliga_df.Goal_Difference.min())]
#goal_diff_df.head()

In [130]:
###Create a new column with the name “Winning Percent” and append it to the data set 
laliga_df['Winning Percent']=((laliga_df.GamesWon / laliga_df.GamesPlayed)*100).round(2).fillna(0)
laliga_df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut_year,Goal_Difference,Winning Percent
0,1,Real Madrid,86,4385.0,2762.0,1647.0,552.0,563.0,5947.0,3140.0,...,8.0,3.0,4.0,79.0,1929,1929,1,1929,2807.0,59.63
1,2,Barcelona,86,4262.0,2762.0,1581.0,573.0,608.0,5900.0,3114.0,...,12.0,4.0,6.0,83.0,1929,1929,1,1929,2786.0,57.24
2,3,Atletico Madrid,80,3442.0,2614.0,1241.0,598.0,775.0,4534.0,3309.0,...,9.0,7.0,6.0,56.0,1929,2002-03,1,1929,1225.0,47.48
3,4,Valencia,82,3386.0,2664.0,1187.0,616.0,861.0,4398.0,3469.0,...,11.0,10.0,7.0,50.0,1931-32,1987-88,1,1931,929.0,44.56
4,5,Athletic Bilbao,86,3368.0,2762.0,1209.0,633.0,920.0,4631.0,3700.0,...,5.0,8.0,10.0,49.0,1929,1929,1,1929,931.0,43.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,Xerez,1,34.0,38.0,8.0,10.0,20.0,38.0,66.0,...,0.0,0.0,0.0,0.0,2009-10,2009-10,20,2009,-28.0,21.05
57,58,Condal,1,22.0,30.0,7.0,8.0,15.0,37.0,57.0,...,0.0,0.0,0.0,0.0,1956-57,1956-57,16,1956,-20.0,23.33
58,59,Atletico Tetuan,1,19.0,30.0,7.0,5.0,18.0,51.0,85.0,...,0.0,0.0,0.0,0.0,1951-52,1951-52,16,1951,-34.0,23.33
59,60,Cultural Leonesa,1,14.0,30.0,5.0,4.0,21.0,34.0,65.0,...,0.0,0.0,0.0,0.0,1955-56,1955-56,15,1955,-31.0,16.67
60,61,Girona,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2017-18,2017-18,9,2017,0.0,0.00

In [131]:
###Group teams based on their “Best position” and print the sum of their points for all positions
#best_pos_df=laliga_df.groupby('BestPosition').Points.sum()
best_pos_df
laliga_df.groupby(['BestPosition'], as_index=False).agg({'Points': 'sum', 'Team':list})

    BestPosition   Points                                               Team
0              1  27933.0  [Real Madrid, Barcelona, Atletico Madrid, Vale...
1              2   6904.0  [Zaragoza, Racing Santander, Sporting Gijon, L...
2              3   5221.0               [Espanyol, Oviedo, Mallorca, Arenas]
3              4   6563.0  [Celta Vigo, Valladolid, Osasuna, Malaga, Saba...
4              5   1884.0               [Elche, Hercules, Tenerife, Cordoba]
5              6   2113.0     [Granada, Getafe, Alaves, Levante, Real Union]
6              7   1186.0  [Salamanca, Logrones, Albacete, Pontevedra, Gi...
7              8   1134.0      [Rayo Vallecano, Almeria, Recreativo, Europa]
8              9     96.0                              [Real Burgos, Girona]
9             10    450.0          [Compostela, Eibar, Alcoyano, AD Almeria]
10            11    445.0                                           [Murcia]
11            12    511.0                                 [Cadiz, Burgos CF]
12            14     71.0                                             [Jaen]
13            15     14.0                                 [Cultural Leonesa]
14            16     81.0                  [Lleida, Condal, Atletico Tetuan]
15            17    266.0                   [Numancia, Extremadura, Leganes]
16            19     81.0                                           [Merida]
17            20     34.0                                            [Xerez]